/* css styles */

.kable th {
    background-color: #ffffff; /* Fondo claro para encabezados */
    color: #000000; /* Texto blanco */ /* Espaciado interno */
}

footer a {
    color: blue; /* Cambia 'blue' por el color que prefieras */
    text-decoration: none; /* Elimina el subrayado, si deseas */
}

footer a:hover {
    color: blue;
    text-decoration: underline; /* Agrega subrayado al pasar el ratón */
}